.root {
	border-left: 8px rgb(86, 187, 221) double;
	padding-left: 4px;
	margin: 8px 0;
}
.needAttention {
	composes: root;
	border-left-color: red;
}
.root:focus {
	border-left-color: blue
}
.root:hover {
	background-color: rgba(127, 127, 127, 0.1)
}
.suggestions {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.option {
	composes: noMargin from '../global.module.css';
	display: grid;
	gap: 2px;
	grid-template-columns: 16px 24px auto auto 1fr;
	align-items: center;
}
.from {
	composes: option;
	grid-template-columns: 42px auto auto 1fr;
}
.kbd {
	display: inline-block;
	align-self: center;
	width: 16px;
	height: 16px;
	line-height: 16px;
	background: rgba(0.5,0.5,0.5,0.25);
	text-align: center;
	border: 1px solid black;
	font-size: 8px;
	vertical-align: middle;
}
.root code {
	background-color: rgb(231, 231, 231);
	border: 1px grey solid;
	padding: 2px;
	border-radius: 4px;
}