.topRow {
	border-top: 2px solid gray;
}
.title {
	composes: topRow;
	vertical-align: top;
}
.main {
	composes:topRow;
}
.suggestions > p {
	margin: 0;
}
.suggestions {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.needAttention td, .needAttention th {
	background-color: lightsalmon;
}
.option {
	margin: 0;
}